.app-container{
    min-height: 100vh;
}

.content{
    width: 100%;
}

.post-card{
    margin: 20px 50px;
    width: 30rem;
}

.hashtag{
    margin: 0px 3px;
}

.reactions{
    margin: 15px 0 0 0;
}

.create-post{
    width: 80%;
    margin-top: 50px;
    margin-left: 10%;
}